* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/acme/v25/RrQfboBx-C5_XxrBbg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@keyframes bounceOrig {
    0%, 100% {
        transform: translate(-50%, -50%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: translate(-50%, -25%);
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
  }


body {
    font-family: "Acme", serif;

}

.logo {
    margin: 1.5rem;
    display: flex;
    width: 20vw;
    align-items: center;
    color: #e9575f;
}

.logo img {
    width: 7rem;
}

input, form {
    all: unset;
  }

.side-menu {
    margin: 0;
    padding: 0;
    width: 16rem;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 2px 1px 1px lightgray;
    background-image: linear-gradient(bottom, #e9575f, #e9575f 12%, transparent 12%, transparent 100%);
    background-image: -webkit-linear-gradient(bottom, #e9575f, #e9575f 12%, transparent 12%, transparent 100%) 
  }

.side-menu h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    color: #e9575f;
}

.side-menu img {
    width: 3rem;
    min-height: 3rem;
}

.sidebar-element {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    width: 14rem;
    margin-bottom: 1rem;
}

.sidebar-element input {
    padding-left: 2rem;
    margin-top: 0.5rem;
}

.sidebar-element.streak {
    position: absolute;
    bottom: 0;
    border: 1px solid #e9575f;
}

.sidebar-element.streak h2 {
    padding-left: 2rem;
    margin-top: 0.5rem;
    color: #ffffff;

}

.sidebar-element {
    border-radius: 1rem;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    border: 0.15rem solid #ffffff;
}

.sidebar-element-selected {
    border-radius: 1rem;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    border: 0.15rem solid #e9575f;
    background-color: #F2C4B6;
}



.a-logout {
    margin-top: 21rem;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

a:link {
    text-decoration: none;
    color: #121212;
    opacity: 50%;
}

a:visited {
    text-decoration: none;
    color: #121212;
    opacity: 50%;
}

a:hover {
    text-decoration: none;
    color: #121212;
    opacity: 100%;
}

a:active {
    text-decoration: none;
    color: #121212;
    opacity: 50%;
}

.actual-content {
    margin-left: 16rem;
    height: 100vh;
    position: relative;
}

.actual-content .title-card {
    width: 32rem;
    height: 8rem;
    border-radius: 1rem;
    background-color: #e9575f;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 2px 1px 1px black;
}

.actual-content .title-card h2 {
    padding-top: 2rem;
    color: #ffffff;
}

.actual-content .title-card h4 {
    padding-top: 1rem;
    color: #e5e5e5;
    opacity: 70%;
}

.actual-content .course-card {
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #e9575f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 1px 1px black;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: white;
}

.actual-content .course-card:hover, .actual-content .course-card:focus {
    cursor: pointer;
    animation-name: bounceOrig;
    -moz-animation-name: bounceOrig;
}

.actual-content .course-card img{
    width: 8rem;
}