<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codex</title>
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
</head>
<body>
    <div class="logo">
        <img src="/static/logo.png" alt="">
        <h1>Codex</h1>
    </div>

    <div class="container-left">
        <h2>Nada mas comodo que aprender desde tu hogar.</h2>

        <div class="elements-same-row">
            <form class="btn-a" action="{{url_for('register')}}">
                <input type="submit" value="Registrate ya" />
            </form>
            <form class="btn-b" action="{{url_for('login')}}">
                <input type="submit" value="O inicia sesión si ya estas registrado" />
            </form>
        </div>
    </div>
    <div class="container-right">
        <img src="/static/homepageimage.png" alt="">
    </div>
    <div class="darker-line">
    </div>
        
</body>
</html>