<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='auth.css')}}">
</head>
<body>
    <div class="container">

        <h1>Incio Sesión</h1>

        <form action="" method="post">
            <div class="fields">
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            </div>

            <div class="btn-a">
                {{ form.submit }}
            </div>
            
        </form>

        <a href="{{url_for('register')}}">¿No tienes una cuenta aún?, ¡Registrate ya!</a>
    </div>
    
</body>
</html>